@page
@model LMSV1.Pages.Instructor.Assignments.DetailsModel
@using Microsoft.AspNetCore.Identity
@using LMSV1.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Details";
    var user = await UserManager.GetUserAsync(User);
}

<h1>@Model.Assignment.CourseID Assignment - @Model.Assignment.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.MaxPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.MaxPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.CourseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.CourseID)
        </dd>
    </dl>
</div>

@if (await UserManager.IsInRoleAsync(user, "Student"))
{
    <script>

    </script>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>File Upload</title>
    </head>
    <body>
        <form method='post'>
            <div id='input'>
                <textarea placeholder='Enter Text Here' id="link" rows="8" cols="80">
                </textarea>
            </div>
            <div>
                <button type='submit' value="Details">Submit</button>
            </div>
        </form>


        <form method="post" enctype="multipart/form-data">
            <span>Select File:</span>
            <input type="file" name="postedFiles" multiple />
            <input type="submit" value="Upload" asp-page-handler="Upload" />
            <br/>
            <span style="color:teal">@Html.Raw(Model.Message)</span>

            <a href="/Uploads/Student1@gmail.comTestFile2.rtf" download>Download</a>
        </form>
    </body>
}

    <div>
        @if (await UserManager.IsInRoleAsync(user, "Instructor"))
        {
            <a asp-page="./Edit" asp-route-id="@Model.Assignment.AssignmentID">Edit</a>
        <a asp-page="./Index" asp-route-id="@Model.Assignment.CourseID">Back to @Model.Assignment.CourseID</a>
        }
       
    </div>

