@page
@model LMSV1.Pages.Instructor.Assignments.IndexModel

@{
    ViewData["Title"] = "Course Details";
}

<h1>@Model.Course.CourseID</h1>
<p>
   <a asp-page="Create" asp-route-id="@Model.Course.CourseID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Assignments.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Assignments.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Assignments.First().MaxPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Assignments.First().DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Assignments.First().CourseID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Course.Assignments) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.AssignmentID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AssignmentID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AssignmentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="../CourseManager">Back to Courses</a>
