@page
@model LMSV1.Pages.Courses.Assignments.Submissions.EditModel
@using LMSV1.Models
@{
    ViewData["Title"] = "Edit";
}

<h1>Grade Submission</h1>

<h3>User: @Model.Submission.User.Email</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--Display submission data-->
        <div id="submission-display-form" style="display:block;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <h5>Assignment Title:</h5>
                <p>@Model.Submission.Assignment.Title</p>
            </div>
            <div class="form-floating mb-3">
                <h5>Assignment Description:</h5>
                <p>@Model.Submission.Assignment.Description</p>
            </div>
            @if (Model.Submission.Assignment.SubmissionType == Models.SubmissionType.FileUpload)
            {
                <div class="form-floating mb-3">
                    <h5>File(s) submitted:</h5>
                    <p>@Model.Submission.FileName | 
                        <a asp-page-handler="Download" asp-route-filename="@Model.Submission.FileName">Download File</a></p>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <h5>Text entry submitted:</h5>
                    <p>@Model.Submission.TextSubmission</p>
                </div>
            }
            <div class="form-floating mb-3">
                <h5>Submission Date:</h5>
                <p>@Model.Submission.SubmissionDate</p>
            </div>
        <form method="post" id="submission-grade-entry" enctype="multipart/form-data">
            <div class="form-group">
                <h5>Submission Grade:</h5>
                    <input asp-for="Input.Score" class="form-control" id="score" name="score" value="@Model.Submission.Score" />
                    <p>/ <b>@Model.Submission.Assignment.MaxPoints </b> (Max Points)</p>
                <span asp-validation-for="Submission.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Submissions" asp-route-id="@ViewData["assId"]" asp-route-cId="@ViewData["cId"]">Back to Submissions List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
