@page
@model LMSV1.Pages.Courses.Assignments.Submissions.IndexModel
@using Microsoft.AspNetCore.Identity
@using LMSV1.Models;

@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Submissions";
    var user = await UserManager.GetUserAsync(User);
}

<h1>Submissions</h1>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Submission[0].Assignment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submission[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submission[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submission[0].TextSubmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submission[0].Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submission[0].SubmissionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Submission) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Assignment.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextSubmission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.SubmissionID" asp-route-assId="@ViewData["AssignmentId"]" asp-route-cid="@ViewData["CourseId"]">Grade</a>
                </td>
            </tr>
    }
    </tbody>
    <tfoot>
        <a asp-page="/Courses/CourseHome" asp-route-id="@ViewData["CourseId"]">Back to Assignments</a>
    </tfoot>
</table>
