@page
@model LMSV1.Pages.CourseManagerModel
@{
    ViewData["Title"] = "Course Manager";
}

<h1>@ViewData["Title"]</h1>
@if (Model.Course[0] != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Course[0].CourseID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course[0].Credits)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course[0].MeetDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course[0].StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course[0].EndTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Course)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeetDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="row">
    <div class="col-md-4">
        <form id="CourseManager" asp-route-returnUrl="" method="post">
            <h2>Manage Courses</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CourseID" class="form-control" aria-required="true" placeholder="CS" />
                <label asp-for="Input.CourseID">Course ID</label>
                <span asp-validation-for="Input.CourseID" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.CourseName" class="form-control" autocomplete="" aria-required="true" placeholder="Course Name Here" />
                <label asp-for="Input.CourseName">Course Name</label>
                <span asp-validation-for="Input.CourseName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CreditHours" class="form-control"  aria-required="true" placeholder="0" />
                <label asp-for="Input.CreditHours">Credit Hours</label>
                <span asp-validation-for="Input.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Location" class="form-control" autocomplete="" aria-required="true" placeholder="Classroom: " />
                <label asp-for="Input.Location">Class Location</label>
                <span asp-validation-for="Input.Location" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.MeetTimes" class="form-control" autocomplete="" aria-required="true" placeholder="Days: " />
                <label asp-for="Input.MeetTimes">Meet Times</label>
                <span asp-validation-for="Input.MeetTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.StartTime" class="control-label"></label>
                <input asp-for="Input.StartTime" class="form-control" />
                <span asp-validation-for="Input.StartTime" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Create Class</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}