@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using LMSV1.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Dashboard";
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="grid-container">
        <!--The dashboard will show each card with the class information inside of it-->
        <div class="dashboard-section">
            <h1>Dashboard</h1>
            <hr />
            @if(!Model.Courses.Any()) {
                <p>No courses registered</p>
            } else {
                @foreach (var item in Model.Courses) {
                <!--This is the information displayed insdie the card-->
                <!--When clicking the individual card it will take you to that courses assignment page depending on the course ID-->
                <a asp-page="/Courses/CourseHome" asp-route-id="@item.CourseID" style="text-decoration:none; color:inherit;">
                    <div class="card-container">
                        <div class="card">
                            <p><b>@Html.DisplayFor(modelItem => item.DepartmentID) @Html.DisplayFor(modelItem => item.CourseID) - @Html.DisplayFor(modelItem => item.Title)</b></p>
                            <p><b>Location: </b>@Html.DisplayFor(modelItem => item.Location)</p>               
                                <p><b>Meet days: </b>@Html.DisplayFor(modelItem => item.MeetDays)</p>               
                            <p><b>Time: </b>@Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)</p>
                        </div>
                    </div>
                </a>}
            }
        </div>

        <!-- To Do Section -->
        @if (user.Role == "Student") {
            <div class="to-do-section">
                <h4>To Do</h4>
                <hr />
                @if(!Model.Assignments.Any()) {
                    <p>No assignments due</p>
                } else {
                    <div class="list-group">
                        @foreach (var item in Model.Assignments) {
                            <div class="todo-group">
                                <a asp-page="/Courses/Assignments/AssignmentHome" asp-route-id="@item.AssignmentID" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@item.Title</h5>
                                    </div>
                                    <p class="mb-1">@item.Course.CourseName</p>
                                    <small><b>Due: </b>@item.DueDate</small>
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Login or Create a new account</p>
    </div>
}