@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using LMSV1.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Dashboard";
}

@if (SignInManager.IsSignedIn(User))
{
    <!--New Approach to creating the cards, this way you can click the course elements to get a small dropdown of the information-->
    <h1>Dashboard</h1>
    <hr />
    <!--Refresh button to see if any information on the courses page has changed-->
    <p><a asp-page="Index">Refresh</a></p>
    @foreach (var item in Model.Course)
    {
        <div class="card-container">
            <div class="card">
                <!--<p>Collapsible Set:</p>-->
                <p>@Html.DisplayFor(modelItem => item.Title)</p>
                <!--<button class="collapsible">Course ID</button>-->
                <!--<div class="content">-->
                    <p> @Html.DisplayFor(modelItem => item.CourseID)</p>
                <!--</div>-->
                <!--<button class="collapsible">Course Credit Hours</button>-->
                <!--<div class="content">-->
                    <p> @Html.DisplayFor(modelItem => item.Credits)</p>
                <!--</div>-->
                <!--<button class="collapsible">Class Location</button>-->
                <!--<div class="content">-->
                    <p>@Html.DisplayFor(modelItem => item.Location)</p>
                <!--</div>-->
                <!--<button class="collapsible">Days to Meet in Class</button>-->
                <!--<div class="content">-->
                    <p> @Html.DisplayFor(modelItem => item.MeetDays)</p>
                <!--</div>-->
                <!--<button class="collapsible">Class Start Time</button>-->
                <!--<div class="content">-->
                    <p> @Html.DisplayFor(modelItem => item.StartTime)</p>
                <!--</div>-->
                <!--<button class="collapsible">Class End Time</button>-->
                <!--<div class="content">-->
                    <p>@Html.DisplayFor(modelItem => item.EndTime)</p>
                <!--</div>-->
            </div>
        </div>
    }

    <!--This script is used to allow the dropdown and collapse feature on the card items like Course Name/ MeetTime/ etc.-->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Login or Create a new account</p>
    </div>
}