@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using LMSV1.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Dashboard";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="grid-container">
        <div class="dashboard-section">
            <!--The dashboard will show each card with the class information inside of it-->
            <h1>Dashboard</h1>
            <hr />
            <!--Refresh button to see if any information on the courses page has changed-->
            <p><a asp-page="Index">Refresh</a></p>
            @foreach (var item in Model.Course)
            {
                <!--This is the information displayed insdie the card-->
                <!--When clicking the individual card it will take you to that courses assignment page depending on the course ID-->
                                <a asp-page="/Instructor/Assignments/Index" asp-route-id="@item.CourseID" style="text-decoration:none; color:inherit;">
                    <div class="card-container">
                        <div class="card">
                            <p>@Html.DisplayFor(modelItem => item.Title)</p>             
                            <p>@Html.DisplayFor(modelItem => item.CourseID)</p>             
                            <p>@Html.DisplayFor(modelItem => item.Credits) Credits</p>             
                            <p>@Html.DisplayFor(modelItem => item.Location)</p>               
                            <p>@Html.DisplayFor(modelItem => item.MeetDays)</p>               
                            <p>@Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)</p>
                        </div>
                    </div>
                </a>
            }
        </div>

        <!-- To Do Section -->
        <div class="to-do-section">
            <h4>To Do</h4>
            <hr />
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">CS 3750</h5>
                    </div>
                    <p class="mb-1">Assignment 1</p>
                    <small>Oct 2 at 11:59pm</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">CS 3750</h5>
                    </div>
                    <p class="mb-1">Assignment 2</p>
                    <small>Oct 10 at 11:59pm</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">CS 3750</h5>
                    </div>
                    <p class="mb-1">Assignment 3</p>
                    <small>Oct 20 at 11:59pm</small>
                </a>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Login or Create a new account</p>
    </div>
}