@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using LMSV1.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))

{
    @*This code is commented out for now but will be used in the future for styling and any .js script for the page
        This code allows acces to a javascript(.js) file
       <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="CourseStyle.js"></script>*@
    <!--This line of code in the header allows the html page to pull from the .css page for styling-->
    @*<head>
        <link href="@Url.Content("/CourseStyle.css")" rel="stylesheet" type="text/css" />
    </head>*@

    <h1>Courses</h1>

    <!--Refresh button to see if any information on the courses page has changed-->
    <p>
        <a asp-page="Index">Refresh</a>
    </p>

    @*Places the for loop here creates a new box("card") for each course *@
    @foreach (var item in Model.Course)
    {
        <div class="card-container">
            <div class="card">
                <table class="table">
                    <thead>
                        <!--This part of the code will show the header information of the classes before showing the actual class itself-->
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Course[0].CourseID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course[0].Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course[0].Credits)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course[0].Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course[0].MeetDays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course[0].StartTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course[0].EndTime)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*This code below shows all of the courses information that exist in the database and stops*@
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credits)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MeetDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.CourseID">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.CourseID">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.CourseID">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}

else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}


