@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using LMSV1.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Dashboard";
}

@if (SignInManager.IsSignedIn(User))
{
    <!--New Approach to creating the cards, this way you can click the course elements to get a small dropdown of the information-->
    <h1>Dashboard</h1>
    <hr />
    <!--Refresh button to see if any information on the courses page has changed-->
    <p><a asp-page="Index">Refresh</a></p>
    @foreach (var item in Model.Course)
    {
        <!--This is the information displayed insdie the card-->
        <!--Need to figure out how to send the clickable card to the appropriate page... Change the a href="Something else here"-->
        <a asp-page="Error" style="text-decoration:none; color:inherit;">
        <div class="card-container">
            <div class="card">
                <p>@Html.DisplayFor(modelItem => item.Title)</p>             
                    <p> @Html.DisplayFor(modelItem => item.CourseID)</p>             
                    <p> @Html.DisplayFor(modelItem => item.Credits) Credits</p>             
                    <p> @Html.DisplayFor(modelItem => item.Location)</p>               
                    <p> @Html.DisplayFor(modelItem => item.MeetDays)</p>               
                    <p> @Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)</p>
            </div>
        </div>
        </a>
    }
    
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Login or Create a new account</p>
    </div>
}