@page
@model LMSV1.Pages.Authentication.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Instructor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Zip)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User?.Id">Edit</a> |
    <a asp-page="./Login">Back to List</a>
</div>
