@page
@model LMSV1.Pages.Student.IndexModel

@{
    ViewData["Title"] = "Course Registration";
}

<h1>Course Registration</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].MeetDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-page="./Add" asp-route-id="@item.CourseID">Register</a> |
                    <a asp-page="./Details" asp-route-id="@item.CourseID">Drop</a> |
            </td>
        </tr>
}
    </tbody>
</table>
